{
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": "last 3 versions, > 1%"
            },
            "loose": true
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    },
    "module": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "6.10"
            },
            "modules": "commonjs"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    }
  }
}
